---
layout: learn
title: Discounted Video Courses | by recluze
permalink: /learn
---

<main class="main-area">
  <h2 class='courses-head mt-4 px-6 py-0'>Get Maximum Discounts on All Courses</h2>
  <!-- ... -->
  <div class="mx-auto p-4">
    <!-- Flex on med screens and up -->
    <div class="md:grid md:grid-cols-3 md:gap-3 w-full lg:grid-cols-4 xl:grid-cols-5">

      {% for course in site.data.courses %}
      <!-- card begin -->
      <div class="text-center bg-gray-100 px-0 py-0 m-2 rounded mt-4
                  border border-gray-300 relative hover:shadow-2xl shadow-md">
        <a href='{{ course.link }}' target="_blank">
          <div class="text-center">
            <div class="">
              <img class="rounded-sm" src="/assets/images/courses/{{ course.imgsrc }}" alt="" />
              <span class="absolute top-0 left-0 inline-flex items-center justify-center px-4 py-3 
                           text-sm font-normal leading-none text-gray-400 
                           transform translate-x-2 -translate-y-1/2 bg-gray-100 border-gray-400 border
                           rounded-full line-through w-24 h-8">
              {{ course.listprice }}
              </span>
              <span class="absolute top-0 right-5 inline-flex items-center justify-center px-4 py-3 
                           text-sm leading-none text-white price-tag 
                           transform translate-x-2 -translate-y-1/2 bg-red-700 
                           rounded-full w-24 h-6 hover:bg-green-700">
              {{ course.price }}
              </span>
              {% if course.tag != "None" %}
                <span class="absolute top-10 left-0 inline-flex items-center justify-center px-4 py-3 
                            text-xs transform translate-x-2 -translate-y-1/2 course-tag
                            rounded-full w-24 h-6">
                {{ course.tag }}
                </span>
              {% endif %}
            </div>
            <div class="mt-4 py-2 px-6 pb-8">
              <div class="text-lg text-fancy-head">
                {{ course.title }}
              </div>
              <div class='text-gray-600 my-4 text-sm leading-relaxed text-fancy-body'>
                {{ course.desc }}
              </div>
            
              <div class='text-gray-600 font-mono text-xs absolute bottom-0 mb-4 course-details'>
                {{ course.lectures }} lectures | {{ course.hours }} hours total
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- card end -->
      {% endfor %}
    </div>
  </div>
</main>
