<html lang='en'>
  <head>
    <title>{{ page.title }} | Discount </title>
    <meta http-equiv="refresh" content="1; URL={{ page.link }}" /> 
    <link rel="stylesheet" href="{{ "/assets/css/cards.css" | relative_url }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125952332-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125952332-1');
    </script>

  </head>
  <body> 

    <div class='redirect-container'> 
      <div class='redirect'> 
        {%- if page.message -%}
          <h1>{{ page.message }}</h1> 
        {%- else -%} 
          <h1>Applying Discount</h1> 
        {%- endif -%} 
	<p>to <strong>{{ page.title }}</strong></p> 
        <p><a href="{{ page.link }}">Click here if you are not redirected automatically within 5 seconds</a></p>
      </div> 
    </div> 

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">

  </body>
</html>

